.card{
    border: 3px  solid  rgba(44, 187, 99, 0.488);
    border-radius: 20px;
    background: #fff;
    margin-top: 3em;
}
.card:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.15) rotate(-1deg);
    transition: all 250ms;
  }
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}
card-text h2{
    text-align: center;
    margin-top: -4px;
    margin-bottom: 15px;
}
.card-text p{
    text-align: center;
    margin: 0px;
    margin-bottom: 1em;
}
.card-icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.card-icon img{
    padding: 1em;
    width: 8em;
    height: 8em;
}
.icons{
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 1em;
}
.icon{
    width: 45px;
}